<div class="pushed-down">
    {{#if genres}}
        <h1>Some of our most popular genres:</h1>
        <small class="greyed-text">We've probably got what you're looking for.</small>
        <ul class="no-bullet">
            {{#each genres}}
                <li class="no-bullets">
                    <h1>{{{link 'genres' this.title this.title}}}</h1>
                    <p>
                        {{{commaString (linkList 'bands' this.bands)}}}
                    </p>
                </li>
                <hr>
            {{/each}}
        </ul>
    {{else}}
        <h1>Looks like we're fresh out of genres...</h1>
    {{/if}}
</div>