<h1>Our Top {{title}} Bands</h1>
{{#if bands}}
    <ul class="no-bullet">
        {{#each bands}}
            <li>
                <h3>{{{link 'bands' this._id this.name false}}}</h3>
                <small class="greyed-text">{{{commatize this.likes}}} {{{pluralize this.likes 'like'}}}</small>
            </li>
            <hr>
        {{/each}}
    </ul>
{{/if}}
